{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <h1> {{  message }} </h1>
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

<form method="POST">
    <div class="shadow-none p-3 mb-5 bg-light rounded">
    {{ form.hidden_tag() }}
        <h4> {{ form.choices.label(class="form-label") }} </h4>
        <h3> {{ form.choices(class="form-control") }} </h3>
        <h5> {{form.correct_choice.label(class="form-label")}} </h5>
        <h3> {{ form.correct_choice(class="form-control") }} </h3>
    {{ form.submit(class="btn btn-secondary") }}
    </div>
</form>
{%endblock%}